// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sitesUl{
  width: 800px;
}

.sites{
  border-style: groove;
  border-width: 1px;
  width: 800px;
  overflow: hidden
}
.sites li{
    width: 100px;
    height: 50px;
    float: left
}

#clear-float{
  clear: both
}

.tagSitesUi{
  border-style: groove;
  width: 800px;
}

.tagSitesLi{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100px;
  float: left
}

#content a{
color: #000000;
}
#content a:hover{
  color: #336699;
}
.tagOfSites{
  color: #8C489F;
  float: left;
}
