<p>您好！感谢您的注册，<%= @email %></p>

<p>请点击如下链接完成注册SeenList:</p>

<p><%= link_to '完成注册', confirmation_url(@resource, :confirmation_token => @token) %></p>

<p>注意，这是自动邮件，请不要回复，任何疑问、建议请发送邮件至: seenlist@gmail.com</p>

<p>Thank you, <%= @email %>!</p>

<p>Please click the link below to finish your Registration:</p>

<p><%= link_to 'finish my registration', confirmation_url(@resource, :confirmation_token => @token) %></p>

<p>Please do not reply the email, if you have any question or advise, please send email to: seenlist@gmail.com</p>
